<!-- <lib-filter [mobileView]="true" [filterData]="buyerService.buyerTableFields" (filterApplied)="applyFilter($event)" ></lib-filter>
<lib-table [headerBg]="'#826149'" [scrollable]="false" [headerColor]="'#fff'"
    [gtColumnList]="buyerService.buyerTableFields" [rowData]="buyerService.buyersList" [showCheckBox]="false"
    [itemPerPage]="15" [tableHeight]="height" [dataRenderingLocal]="false"
    (onSortChanged)="onSortChanged($event)"></lib-table> -->

<lib-universal-table 
    [mobileView]="true"
    [rowData]="buyerService.buyersList"
    [headerBg]="'#e1eefa'"
    [headerColor]="'#1A1B35'"
    [showCheckBox]="true"
    [showFiledBox]="true"
    [itemPerPage]="15"
    [tableHeight]="height"
    [scrollable]="false"
    [gtColumnList]="buyerService.buyerTableFields"
    [dataRenderingLocal]="true"
    (filterApplied)="applyFilter($event)"
    (onSortChanged)="onSortChanged($event)"
    (onSearched)="onSearched($event)"
    (onChecked)="onChecked($event)">
</lib-universal-table>

<!-- <lib-filter [mobileView]="true" [filterData]="filterData" (filterApplied)="applyFilter($event)"></lib-filter>
<lib-table [headerBg]="'#826149'" [scrollable]="false" [headerColor]="'#fff'"
    [gtColumnList]="empService.userTableFields" [rowData]="empService.userList" [showCheckBox]="false"
    [itemPerPage]="15" [tableHeight]="height"></lib-table> -->